@layer litm.base;
@layer litm.components;
@layer litm.apps;
@layer litm.actor;
@layer litm.item;

@layer litm {
	@layer base {
		:root {
			--litm-color-bg: hsl(40, 85%, 87%);
			--litm-color: hsl(41, 23%, 24%);
			--litm-color-alt-bg: hsl(34 9.9% 73.69%);
			--litm-color-dark-bg: hsl(0 0.88% 44.51%);
			--litm-color-accent-bg: hsl(225.94 10.66% 41.72%);
			--litm-color-accent: hsl(46.61 81.44% 92.99%);
			--litm-color-accent-2: hsl(24 30.38% 58.43%);
			--litm-color-primary-bg: color-mix(in hsl, var(--litm-color-accent) 75%, hsl(0 0% 100%));
			--litm-color-primary: color-mix(in hsl, var(--litm-color) 75%, hsl(0 0% 0%));
			--litm-color-row-odd: rgb(0, 0, 0, 0.1);
			--litm-color-weakness: hsl(10 41.04% 26.41%);
			--litm-color-weakness-bg: hsl(6.5 42.05% 41.08% / 20%);
			--litm-color-muted-bg: hsl(0 0% 45.42% / 20%);

			/* Fonts */
			--litm-font-heading: PackardAntique, CaslonAntique, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
			--litm-font-primary: CaslonAntique, LibreCaslonText, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
			--litm-font-accent: AlchemyItalic, 'Brush Script MT', 'Bradley Hand ITC', 'Lucida Calligraphy', 'Lucida Handwriting', 'Apple Chancery', cursive;
			--litm-font-text: LibreCaslonText, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

			/* Vertical spacing */
			--litm-space-1: 0.25rem;
			--litm-space-2: 0.5rem;
			--litm-space-3: 1rem;
			--litm-space-4: 2rem;
			--litm-space-5: 4rem;

			/* Foundry Overrides */
			/* --font-primary: 'LibreCaslonText' 'Palatino Linotype', 'Book Antiqua', Palatino, serif; */
			--color-shadow-primary: var(--litm-color-bg);
		}

		.litm {
			-webkit-font-smoothing: antialiased;

			/* > Overrides */

			.window-content {
				padding: 0px;
				background-color: var(--litm-color-bg);
				background-blend-mode: luminosity;

				form {
					display: flex;
					flex-direction: column;
				}
			}

			.editor {
				min-height: 100px;
				height: 100%;
			}

			/* ~ Overrides */
		}
	}

	@layer components {
		.litm {
			.sro {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				white-space: nowrap;
				border-width: 0;
			}

			.litm-checkbox {
				&::before {
					content: '';
					display: block;
					position: relative;
					top: 50%;
					left: 50%;
					width: 85%;
					height: 85%;
					border: 1px solid var(--litm-color-primary);
					background-color: var(--litm-color-primary-bg);
					rotate: 45deg;
					border-radius: 1px;
					translate: -50% -50%;
				}

				position: relative;
				flex: none;
				height: var(--checkbox-size, 12px);
				width: var(--checkbox-size, 12px);
				background-color: var(--litm-color-primary);
				border-radius: 1.5px;
			}

			.litm-checkbox.checked::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 40%;
				height: 40%;
				background-color: var(--litm-color-primary);
				rotate: 45deg;
				border-radius: 1px;
				translate: -50% -50%;
			}

			button[data-click="add-tag"] {
				margin-inline: 2rem;
				padding-bottom: var(--litm-space-2);
				width: auto;
				border: none;
				border-radius: 0px;
				border-top: 1.5px solid rgb(0, 0, 0, 0.4);
				background-color: transparent;
				color: var(--litm-color);
				-webkit-font-smoothing: auto;
				font-size: var(--font-size-20);
				font-family: var(--litm-font-accent);
				transition: all 0.15s;

				&:hover {
					box-shadow: none;
					text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
				}
			}
		}
	}

	@layer apps {
		/* > Apps - Roll Styles */

		.litm.roll {
			form {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-areas:
					"title title"
					"powerTags weaknessTags"
					"status status"
					"tracked tracked"
					"effect effect"
					"buttons buttons"
				;
				grid-template-rows: auto minmax(0, 1fr) repeat(3, auto);
				overflow: hidden;
				overflow: clip;
				font-family: var(--litm-font-text);
			}

			input[type="checkbox"]:not(.sro) {
				-webkit-appearance: none;
				flex: none;
				appearance: none;
				background-color: transparent;
				margin: 0;
				font: inherit;
				color: currentColor;
				width: 1.15em;
				height: 1.15em;
				border: 0.15em solid currentColor;
				border-radius: 0.15em;
				transform: translateY(-0.075em);
				display: grid;
				place-content: center;
				transform: rotate(45deg);

				&::before {
					content: "";
					width: 0.65em;
					height: 0.65em;
					transform: scale(0);
					transition: 120ms transform ease-in-out;
					box-shadow: inset 1em 1em var(--litm-color-primary);
				}

				&:checked::before {
					transform: scale(1);
				}
			}

			.title {
				grid-area: title;
				font-family: var(--litm-font-accent);
				font-size: var(--font-size-32);
				color: var(--litm-color);
				background: transparent;
				border: none;
				text-align: center;
				height: unset;
				transition: background-color 0.15s;


				&:focus {
					box-shadow: none;
					background-color: rgb(0, 0, 0, 0.1);
				}
			}

			.powerTags,
			.weaknessTags {
				overflow: auto;

				&>span {
					font-family: var(--litm-font-primary);
					font-size: var(--font-size-20);
					color: var(--litm-color-primary);
					display: block;
					text-align: center;
				}

				ul {
					list-style: none;
					padding: 0px;
					margin: var(--litm-space-1) var(--litm-space-3);
					display: flex;
					flex-direction: column;

					li {
						display: flex;
						align-items: center;
						font-family: var(--litm-font-text);
						font-size: var(--font-size-12);
						gap: var(--litm-space-3);
						color: var(--litm-color);
						padding-block: var(--litm-space-1);

						&:nth-child(odd) {
							background-image: linear-gradient(to right, transparent, rgba(69, 59, 29, 0.1), transparent);
							border-top: 1.5px solid rgb(0, 0, 0, 0.2);
							border-bottom: 1.5px solid rgb(0, 0, 0, 0.2);
						}

						&:last-child {
							border-bottom: 1.5px solid rgba(88, 9, 9, 0.2);
						}

						label:first-of-type {
							flex: 1;
						}
					}
				}
			}

			.powerTags {
				grid-area: powerTags;
			}

			.weaknessTags {
				grid-area: weaknessTags;

				&>span,
				ul li {
					color: var(--litm-color-weakness);
					border-color: var(--litm-color-weakness-bg);
				}

				ul li {
					padding-block: var(--litm-space-2);

					&:nth-child(odd) {
						background-image: linear-gradient(to right, transparent, var(--litm-color-weakness-bg), transparent);
					}
				}

			}

			.status {
				margin: 0;
				grid-area: status;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: var(--litm-space-3);
				margin-inline: var(--litm-space-4);
				padding-block: var(--litm-space-2);
				border-bottom: 2px solid var(--litm-color-muted-bg);
				border-top: 2px solid var(--litm-color-muted-bg);

				label {
					font-family: var(--litm-font-primary);
					font-size: var(--font-size-20);
					color: var(--litm-color-primary);
				}

				.input {
					display: flex;
					align-items: center;
					max-width: min-content;

					input {
						text-align: center;
						min-width: 30px;
						flex: 0;
					}

					button {
						border: none;
						background: none;
						color: var(--litm-color-primary);
						font-size: var(--font-size-16);
						cursor: pointer;
						transition: color 0.2s;
						width: min-content;

						&:hover {
							box-shadow: none;
							text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
						}
					}
				}
			}

			.tracked {
				grid-area: tracked;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: var(--litm-space-3);
				margin-block-start: var(--litm-space-3);
				margin-inline: var(--litm-space-4);
				padding-block-end: var(--litm-space-1);
				border-block-end: 2px solid var(--litm-color-muted-bg);

				label {
					font-family: var(--litm-font-primary);
					font-size: var(--font-size-20);
					color: var(--litm-color-primary);
				}
			}

			.effect {
				grid-area: effect;
				display: flex;
				align-items: center;
				justify-content: space-around;
				pointer-events: none;
				opacity: 0.5;
				margin-block: var(--litm-space-3);


				label {
					font-family: var(--litm-font-primary);
					font-size: var(--font-size-20);
					color: var(--litm-color-primary);
				}
			}

			.buttons {
				grid-area: buttons;
				margin-block: var(--litm-space-3);
				display: flex;
				align-items: center;
				justify-content: center;
				gap: var(--litm-space-4);

				button {
					padding-inline: var(--litm-space-5);
					border: none;
					background: none;
					color: var(--litm-color-primary);
					font-family: var(--litm-font-heading);
					font-size: var(--font-size-20);
					cursor: pointer;
					transition: color 0.2s;
					width: auto;

					&:hover {
						box-shadow: none;
						text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
					}

					&[type="submit"] {
						background-image: linear-gradient(to right, transparent, var(--litm-color-muted-bg), transparent);
					}

					&[type="button"] {
						background-image: linear-gradient(to right, transparent, var(--litm-color-weakness-bg), transparent);
					}
				}
			}

			div:has(#roll-tracked:checked)~.effect {
				pointer-events: auto;
				opacity: 1;
			}

			.burn {
				cursor: pointer;
				--bg-color: transparentf;
				--fg-color: currentColor;

				&:has(input:checked) {
					--bg-color: currentColor;
					--fg-color: transparent;
				}
			}
		}
	}

	@layer actor {

		/* > Actor - Character Styles */

		.litm.character {
			background: url("/ui/parchment.jpg") repeat;
			background-color: var(--litm-color-dark-bg);
			background-size: cover;
			background-blend-mode: color-burn;
			box-shadow: -5px 7px 10px var(--litm-color-primary);
			z-index: unset;
			outline: 3px solid var(--litm-color);
			border-radius: 1px;

			&:not(.minimized) {
				.window-header {
					padding: var(--litm-space-1) var(--litm-space-3) 0px var(--litm-space-1);

					&>* {
						transition: scale 0.15s;

						&.close {
							font-size: var(--font-size-18);
						}

						&:hover {
							scale: 1.2;
						}
					}
				}

				.window-title {
					display: none;
				}
			}

			.window-header {
				border: none;
				font-family: var(--litm-font-text);
				justify-content: space-between;
			}

			.window-content {
				overflow: visible;
				background: transparent;
			}

			form {
				-webkit-font-smoothing: antialiased;

			}

			.avatar {
				position: absolute;
				filter: drop-shadow(2px 4px 6px var(--litm-color));
				left: -255px;
				top: -45px;
				z-index: -1;
				border: none;
			}

			#name {
				position: absolute;
				top: -70px;
				font-family: var(--litm-font-heading);
				font-weight: 800;
				font-size: var(--font-size-32);
				height: auto;
				width: 520px;
				background-color: transparent;
				border: none;
				color: var(--litm-color-primary-bg);
				text-shadow: 0 0 6px var(--litm-color), 0 0 12px var(--litm-color-dark-bg);
				transition: background-color 0.15s;

				&:focus {
					box-shadow: none;
					background-color: rgb(0, 0, 0, 0.1);
				}
			}

			.nav {
				height: 120px;
				max-width: 220px;
				display: flex;
				justify-content: center;
				margin-block: var(--litm-space-3);
				gap: var(--litm-space-3);

				&>div {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: var(--litm-space-2);

					span {
						font-family: var(--litm-font-accent);
						color: var(--litm-color-primary-bg);
						font-size: var(--font-size-20);
					}

					button {
						border: none;
						width: auto;
						height: 60px;
						background: transparent;
						font-size: 52px;
						color: var(--litm-color-accent);
						text-shadow: 0px 0px 4px var(--litm-color-dark-bg);
						transition: scale 0.15s;

						&:hover,
						&:focus,
						&:active {
							box-shadow: none;
						}

						img {
							border: none;
							width: 60px;
							filter: drop-shadow(0 0 6px rgb(0, 0, 0, 1));

							&[alt="Dice"] {
								width: 80px;
							}
						}

						&:hover {
							text-shadow: 0 0 4px var(--litm-color-primary-bg);
							scale: 1.1;
						}
					}
				}
			}

			#note {
				position: absolute;
				top: 50px;
				left: 70px;
				background-color: var(--litm-color-alt-bg);
				border: 3px solid var(--litm-color-primary);
				border-radius: 4px;
				box-shadow: 0 0 12px var(--litm-color-primary);
				display: none;
				height: 400px;
				width: 600px;
				max-width: unset;
				font-family: var(--litm-font-text);
				z-index: 2;

				.handle {
					background-color: var(--litm-color-dark-bg);
					margin-block-end: var(--litm-space-2);
					display: flex;
					justify-content: space-between;
					align-items: center;
					color: var(--litm-color-primary-bg);
					padding-inline: var(--litm-space-2) var(--litm-space-1);

					button {
						border: none;
						background: none;
						width: auto;
						color: var(--litm-color-primary-bg);

						&:hover,
						&:focus,
						&:active {
							box-shadow: none;
							text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
						}
					}
				}

				.editor {
					padding-inline: var(--litm-space-2);
				}

				[role="application"] {
					height: 100% !important
				}
			}

			.backpack {
				position: absolute;
				right: -260px;
				top: -20px;
				isolation: isolate;

				.backpack--img {
					position: absolute;
					max-width: unset;
					right: 10px;
					top: -20px;
					border: none;
					rotate: -2deg;
					filter: drop-shadow(0 0 4px var(--litm-color-primary));
					z-index: -1;
					pointer-events: none;
				}

				.backpack--bg {
					position: relative;
					top: -20px;
					right: -20px;
					background: var(--litm-color-bg) url("/ui/parchment.jpg") repeat;
					background-blend-mode: luminosity;
					border: 4px solid color-mix(in hsl, var(--litm-color-accent-2) 80%, black);
					border-radius: 4px;
					box-shadow: 0 0 10px var(--litm-color-primary);
					height: 350px;
					display: flex;
					flex-direction: column;
					scale: 0.9;
					rotate: 7deg;

					.meta {
						background: var(--litm-color-accent-2) url("/ui/parchment.jpg") repeat;
						background-blend-mode: color-burn;
						color: var(--litm-color-accent);
						font-family: var(--litm-font-primary);
						font-size: var(--font-size-16);
						text-align: center;
						padding: var(--litm-space-1) var(--litm-space-3);
					}

					.title {
						color: var(--litm-color);
						font-size: var(--font-size-32);
						font-family: var(--litm-font-accent);
						text-align: center;
					}

					.taglist {
						display: flex;
						flex-direction: column;
						list-style: none;
						margin: var(--litm-space-1) 0px 0px;
						padding: 0px var(--litm-space-3);
						max-height: 200px;
						overflow: auto;

						li {
							display: flex;
							align-items: center;
							gap: var(--litm-space-3);
							color: var(--litm-color);

							&:nth-child(odd) {
								background-image: linear-gradient(to right, transparent, rgba(69, 59, 29, 0.1), transparent);

								.tag--name {
									border-top: 1.5px solid rgb(0, 0, 0, 0.2);
									border-bottom: 1.5px solid rgb(0, 0, 0, 0.2);
								}
							}

							&:last-child {
								.tag--name {
									border-bottom: 1.5px solid rgba(88, 9, 9, 0.2);
								}
							}

							.tag--name {
								text-align: center;
								border: none;
								border-radius: 0px;
								padding-block: var(--litm-space-2);
								min-height: var(--font-size-14);
								height: auto;
								background-color: transparent;
								font-family: var(--litm-font-text);
								color: var(--litm-color-primary);
								width: 100%;

								&:focus,
								&:active {
									box-shadow: none;
								}
							}

							label {
								display: flex;
								cursor: pointer;
								--checkbox-size: 10px;
							}

							button {
								background-color: transparent;
								border: none;
								color: var(--litm-color-contrast);
								cursor: pointer;
								font-size: 1rem;
								line-height: 1;
								padding: 0;
								transition: color 0.2s;
								width: min-content;

								&:hover {
									box-shadow: none;
									text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
								}
							}
						}
					}
				}
			}

			.themes {
				position: relative;
			}

			.theme {
				position: absolute;
				top: -10px;
				left: -105px;
				width: 300px;
				border: 4px solid var(--litm-color-primary);
				outline: 1px solid var(--litm-color-primary);
				outline-offset: -2px;
				border-radius: 2px;
				box-shadow: 0 0 6px var(--litm-color-primary);
				translate: -20% -18%;
				rotate: 1deg;
				scale: 0.7;
				transition: all 0.15s;

				&:hover {
					scale: 0.8;
					z-index: 1;
				}

				&:nth-child(2) {
					top: 0px;
					left: 100px;
					rotate: -1deg;
				}

				&:nth-child(3) {
					top: 15px;
					left: 300px;
					rotate: 0deg;
				}

				&:nth-child(4) {
					top: 10px;
					left: 505px;
					rotate: -2deg;
				}
			}
		}

		/* ~ Actor - Character Styles */
	}

	@layer item {
		/* > Item - Theme Styles */

		.litm.theme,
		/* Themes displayed in the character sheet */
		.litm.character .theme {
			form {
				overflow: hidden;
				overflow: clip;
			}

			.meta {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: var(--litm-space-2) var(--litm-space-3);
				font-family: var(--litm-font-primary);
				font-size: var(--font-size-12);

				&>* {
					width: min-content;
				}

				.meta--part {
					border: none;
					background-color: transparent;
					color: color-mix(in hsl, var(--litm-color-primary-bg) 75%, transparent);
					font-family: var(--litm-font-primary);
					font-size: var(--font-size-12);
					height: var(--font-size-14);
					display: flex;
					align-items: center;
					min-width: 10px;
					width: auto;

					&:focus {
						box-shadow: none;
					}
				}

				.meta--part:last-of-type {
					margin-inline: auto 0;
					text-align: right;
				}


				span {
					color: color-mix(in hsl, var(--litm-color-primary-bg) 75%, transparent);
				}
			}

			.legend {
				margin-block-start: var(--litm-space-1);
				padding: var(--litm-space-1) var(--litm-space-3);
				display: flex;
				justify-content: center;
				align-items: baseline;
				text-transform: uppercase;
				font-family: var(--litm-font-primary);
				font-size: var(--font-size-11);

				span {

					&:last-of-type {
						color: var(--litm-color-weakness)
					}
				}
			}

			.title {
				margin: var(--litm-space-1) var(--litm-space-3);
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: var(--litm-space-3);
				color: var(--litm-color);

				span {
					font-family: var(--litm-font-primary);
					font-size: var(--font-size-32);
					border: none;
					background-color: transparent;
					text-align: center;
					margin-bottom: -0.85rem;
					transition: all 0.15s;

					&:focus {
						outline: none;
						background-color: rgb(0, 0, 0, 0.1);
					}
				}

				label {
					display: flex;
					cursor: pointer;
				}
			}

			.tags {
				display: flex;
				flex-direction: column;
				list-style: none;
				margin: var(--litm-space-3) var(--litm-space-3) 0px;
				padding: 0px;

				li {
					display: flex;
					align-items: center;
					gap: var(--litm-space-3);
					color: var(--litm-color);

					&:nth-child(odd) {
						background-image: linear-gradient(to right, transparent, rgba(69, 59, 29, 0.1), transparent);

						.tag--name {
							border-top: 1.5px solid rgb(0, 0, 0, 0.2);
							border-bottom: 1.5px solid rgb(0, 0, 0, 0.2);
						}
					}

					&:last-child {
						.tag--name {
							border-bottom: 1.5px solid rgba(88, 9, 9, 0.2);
						}
					}

					.tag--name {
						text-align: center;
						border: none;
						border-radius: 0px;
						padding-block: var(--litm-space-2);
						min-height: var(--font-size-14);
						height: auto;
						background-color: transparent;
						font-family: var(--litm-font-text);
						color: var(--litm-color-primary);
						width: 100%;

						&:focus,
						&:active {
							box-shadow: none;
						}
					}

					label {
						display: flex;
						--checkbox-size: 10px;
						cursor: pointer;
					}

					button {
						background-color: transparent;
						border: none;
						color: var(--litm-color-contrast);
						cursor: pointer;
						font-size: 1rem;
						line-height: 1;
						padding: 0;
						transition: color 0.2s;
						width: min-content;

						&:hover {
							box-shadow: none;
							text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
						}
					}
				}
			}

			.weakness {
				padding: 0px var(--litm-space-3) 0px;
				display: flex;
				align-items: baseline;
				background-image: radial-gradient(ellipse at top, var(--litm-color-weakness-bg) 30%, transparent 70%);

				.weakness--part {
					width: 100%;
					height: auto;
					min-height: var(--font-size-14);
					border: none;
					border-radius: 0px;
					padding-block: var(--litm-space-2);
					background-color: transparent;
					color: var(--litm-color-weakness);
					font-family: var(--litm-font-text);
					text-align: center;

					&:focus,
					&:active {
						box-shadow: none;
					}
				}

				button {
					background-color: transparent;
					border: none;
					color: var(--litm-color);
					cursor: pointer;
					font-size: 1rem;
					line-height: 1;
					padding: 0;
					transition: color 0.2s;
					width: min-content;

					&:hover {
						box-shadow: none;
						text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
					}
				}
			}

			.progression {
				padding: var(--litm-space-2) var(--litm-space-3);
				display: flex;
				justify-content: space-between;
				background-color: var(--litm-color-muted-bg);
				--checkbox-size: 12px;

				&>div {
					position: relative;
					display: flex;
					gap: var(--litm-space-2);
					cursor: pointer;
				}

				label {
					text-transform: uppercase;
					font-family: var(--litm-font-primary);
					font-size: var(--font-size-12);
					cursor: pointer;
				}
			}

			.bottom {
				flex: 1;
				display: flex;
				flex-direction: column;

				.motivation {
					margin: var(--litm-space-1) var(--litm-space-3);
					display: flex;
					color: var(--litm-color-accent);
					font-family: var(--litm-font-accent);
					font-size: var(--font-size-20);

					[role="textbox"] {
						background: transparent;
						color: var(--litm-color-accent);
						font-family: var(--litm-font-accent);
						border: none;
						border-radius: 8px;
						margin-inline: auto;
						letter-spacing: 1px;
						transition: all 0.15s;
						min-width: 50%;

						&:focus {
							outline: none;
							background-color: rgb(0, 0, 0, 0.1);
						}

						&:empty {
							background-color: rgb(0, 0, 0, 0.1);
						}

						&::before {
							content: "“";
							margin-inline-start: 8px;
						}

						&::after {
							content: "\"";
							margin-inline-start: 4px;
						}
					}
				}

				.note {
					flex: 1;
					margin: 0px 1.55rem 1rem;
					background-image: radial-gradient(#999 -150%, transparent 70%);
					color: var(--litm-color-primary-bg);
					-webkit-font-smoothing: none;
					font-family: var(--litm-font-text);
					font-size: var(--font-size-12);
					letter-spacing: 1px;
					text-align: center;
					line-height: 1.45;

					[role="application"] {
						height: 100% !important
					}
				}
			}

			.background {
				background: url("/ui/parchment.jpg") repeat;
				background-color: var(--litm-color-bg);
				background-blend-mode: luminosity;
				color: var(--litm-color);
			}

			.accent {
				background: url("/ui/parchment.jpg") repeat;
				background-color: var(--litm-color-accent-bg);
				background-blend-mode: color-burn;
				color: var(--litm-color-accent);
			}

			.burn {
				filter: drop-shadow(0 0 1px var(--litm-color-primary));
				cursor: pointer;
			}
		}

		/* ~ Item - Theme Styles */
	}
}