<li {{#if remove}}data-context="remove-tag" data-id="{{key}}" {{/if}}>
	<!-- isActive checkbox -->
	<label data-tooltip="{{localize "Litm.tags.isActive"}}" aria-label="{{localize "Litm.tags.isActive"}}">
		<input class="litm--checkbox litm--checkbox-with-bg" type="checkbox" name="{{path}}.{{key}}.isActive"
			{{checked tag.isActive}}>
	</label>
	<!-- Name input -->
	<input class="tag--name" type="text" name="{{path}}.{{key}}.name" value="{{tag.name}}">
	<!-- isBurnt checkbox -->
	<label><span class="litm--sro">{{localize "Litm.tags.isBurnt"}}</span>
		<input class="litm--burn" type="checkbox" name="{{path}}.{{key}}.isBurnt"
			data-tooltip="{{localize 'Litm.tags.isBurnt'}}" {{checked tag.isBurnt}}>
	</label>
	<input type="hidden" name="{{path}}.{{key}}.type" value="{{tag.type}}">
	<input type="hidden" name="{{path}}.{{key}}.id" value="{{tag.id}}">
	<!-- Remove button -->
	<!-- Might Reimplement this later -->
	<!-- <button type="button" data-click="remove-tag" data-id="{{tag.index}}"
			data-tooltip="{{localize 'Litm.ui.remove-tag'}}" aria-label="{{localize "Litm.ui.remove-tag"}}"><i
				class="fas fa-xmark"></i></button> -->
</li>