{{#*inline 'leaf' data}}
	<li class="litm--story-tag" data-context="remove-effect"
		data-id="{{data.id}}">
		<img
			class="draggable {{#if (eq data.type 'status')}}litm--green-leaf{{/if}}"
			data-drag="#story-tags" src="systems/litm/assets/media/yellow-leaf.webp"
			aria-hidden="true" width="220" />
		<div class="{{data.type}}">
			<label><span class="litm--sro">{{localize "Name"}}</span>
				<input type="text" name="effects.{{data.id}}.name"
					value="{{data.name}}" />
			</label>
			<div class="litm--story-tag-values">
				{{#each data.values as |value|}}
					<div class="litm--story-tag-value">
						{{#if (eq ../data.type 'status')}}
							<label
								for="effects.{{../data.id}}.flags.litm.values.{{@index}}">{{add @index 1}}</label>
						{{/if}}
						<input id="effects.{{../data.id}}.flags.litm.values.{{@index}}"
							name="effects.{{../data.id}}.flags.litm.values" type="checkbox"
							value="{{add @index 1}}" {{checked value}} />
					</div>
				{{/each}}
			</div>
	</li>
{{/inline}}

<form autocomplete="off">
	<img class="avatar draggable" data-drag=".window-app" src="{{img}}"
		data-edit="img" alt="{{name}}" />
	<label class="litm--sro" for="name">{{localize "Name"}}</label>
	<input type="text" id="name" name="name" value="{{name}}" autocomplete="off"
		required />
	<div class="nav">
		<div>
			<span
				id="dice-roll-button--{{data._id}}">{{localize "Litm.ui.roll-title"}}</span>
			<button type="button" data-click="open" data-id="roll"
				data-tooltip="{{localize 'Litm.ui.roll'}}"
				aria-labelledby="dice-roll-button--{{_id}}">
				<img src="systems/litm/assets/media/dice.webp" alt="Dice"
					width="100px" />
			</button>
		</div>
		<div>
			<span id="note-button--{{_id}}">{{localize "Notes"}}</span>
			<button type=" button" data-click="open" data-id="note"
				data-tooltip="{{localize 'Notes'}}"
				aria-labelledby="note-button--{{_id}}">
				<img src="systems/litm/assets/media/note.webp" alt="Note"
					width="80px" />
			</button>
		</div>
	</div>
	<div id="note">
		<div class="draggable litm--character-note-wrapper" data-drag="#note">
			<span>{{localize 'Notes'}}</span>
			<button type="button" data-click="close" data-id="note"
				data-tooltip="{{localize 'Close'}}">
				<i class="far fa-xmark"></i>
			</button>
		</div>
		{{editor note target="system.note" owner=owner button=true editable=true}}
	</div>
	{{#if backpack.id}}
		<div class="litm--character-backpack item-list"
			data-tooltip="{{localize 'Litm.ui.context-edit'}}"
			data-tooltip-direction="LEFT" data-id="{{backpack.id}}">
			{{> systems/litm/templates/item/backpack-ro.html backpack=backpack}}
		</div>
	{{else}}
		<div class="litm--character-backpack">
			<img width="380px" class="litm--backpack-img"
				src="systems/litm/assets/media/backpack.webp"
				alt="Soft illustration of a rustic backpack" />
		</div>
	{{/if}}
	<div class="litm--character-themes item-list">
		{{#each themes as |item|}}
			<div
				class="litm--character-theme item{{#if (eq item.data._id ../themeHovered)}} hovered{{/if}}"
				data-id="{{item.data._id}}" data-item-id="{{item.data._id}}">
				{{> systems/litm/templates/item/theme-ro.html data=item.data}}
			</div>
		{{/each}}
	</div>
	<ul
		class="litm--character-story-tags {{#if tagsFocused}}focused{{/if}} {{#if tagsHovered}}hovered{{/if}}"
		data-mousedown="keep-open" data-dblclick="return" data-id="story-tags"
		id="story-tags" style="{{tagsFocused}}">
		<li class="litm--story-tag">
			<button type="button" data-click="add-tag" data-id="story-tags">
				<img src="systems/litm/assets/media/yellow-leaf.webp"
					class="litm--red-leaf" alt="Leaf" width="220" />
				<span><i class="fas fa-plus"></i>
					{{localize "Litm.ui.add-tag"}}</span>
			</button>
		</li>
		{{#each storyTags as |item|}}
			{{> leaf data=item}}
		{{/each}}
	</ul>
</form>