<form autocomplete="off">
	<img class="avatar draggable" data-drag="window" src="{{img}}" data-edit="img" alt="{{name}}">
	<label class="litm--sro" for="name">{{localize "Name"}}</label>
	<input type="text" id="name" name="name" value="{{name}}" autocomplete="off" required>
	<div class="nav">
		<div>
			<span id="dice-roll-button--{{data._id}}">{{localize "Litm.ui.roll-title"}}</span>
			<button type="button" data-click="open" data-id="roll" data-tooltip="{{localize 'Litm.ui.roll'}}"
				aria-labelledby="dice-roll-button--{{_id}}"><img src="systems/litm/assets/media/dice.webp" alt="Dice"
					width="100px"></button>
		</div>
		<div>
			<span id="note-button--{{_id}}">{{localize "Notes"}}</span>
			<button type=" button" data-click="open" data-id="note" data-tooltip="{{localize 'Notes'}}"
				aria-labelledby="note-button--{{_id}}"><img src="systems/litm/assets/media/note.webp" alt="Note"
					width="80px"></button>
		</div>
	</div>
	<div id="note" class="window-app">
		<div class="handle draggable">
			<span>{{localize 'Notes'}}</span>
			<button type="button" data-click="close" data-id="note" data-tooltip="{{localize 'Close'}}"><i
					class="far fa-xmark"></i></button>
		</div>
		{{editor note target="system.note" owner=owner button=true editable=true}}
	</div>
	{{#if backpackId}}
		<div class="litm--character-backpack item-list" data-dblclick="edit" data-context="delete" data-id="{{backpackId}}"
			data-tooltip="{{localize 'Litm.ui.dblclick-open'}}" data-tooltip-direction="LEFT">
			{{> systems/litm/templates/item/backpack-ro.html backpack=backpack}}
		</div>
	{{else}}
		<div class="litm--character-backpack">
			<img width="380px" class="litm--backpack-img" src="systems/litm/assets/media/backpack.webp"
				alt="Soft illustration of a rustic backpack" />
		</div>
	{{/if}}
	<div class="litm--character-themes item-list">
		{{#each themes as |item|}}
			<div class="litm--character-theme item" data-dblclick="edit" data-context="delete" data-id="{{item.data._id}}"
				data-item-id="{{item.data._id}}">
				{{> systems/litm/templates/item/theme-ro.html data=item.data}}
			</div>
		{{/each}}
	</div>
</form>
