.litm--sidebar-buttons-container {
	position: absolute;
	left: -34px;
	top: 120px;
	cursor: pointer;
	pointer-events: all;
	z-index: -1;

	& button {
		position: relative;
		background: url("../../assets/media/tabs-bg.webp") no-repeat center / contain;
		color: var(--litm-color-primary-bg);
		display: grid;
		place-content: center;
		width: 42px;
		height: 42px;
		border: none;
		transition: left 130ms ease-in-out;

		&:hover,
		&:focus,
		&:active {
			box-shadow: none;
		}

		&:hover {
			left: -4px;
		}
	}

	&.active {
		left: -332px;

		& button:hover {
			left: 4px;
		}

		& button:first-child i {
			color: transparent;
			background: url('../../assets/media/tabs-collapse.webp') no-repeat center / contain;
		}
	}
}