<div class="litm dice-roll" data-roll-id="{{rollId}}">
	<div class="dice-flavor">
		<span class="gmOnly">{{localize 'Litm.ui.moderate-roll-gm'}}</span>
		<span class="playerOnly">{{localize 'Litm.ui.moderate-roll-player'}}</span>
	</div>
	<div class="dice-effect">
		<p class="gmOnly"><em>{{name}} {{localize "Litm.ui.moderate-roll-gm-hint"}}
				{{localize (concat "Litm.ui.roll-" type)}} {{localize "Litm.other.outcome"}}</em></p>
		<p class="playerOnly"><em>{{localize 'Litm.ui.moderate-roll-player-hint'}}</em></p>
	</div>
	<div class="dice-result">
		{{> systems/litm/templates/chat/message-tooltip.html data=tags expanded=true}}
		<h4 class="dice-total">{{localize 'Litm.ui.total-power'}}: {{totalPower}}</h4>
		<button class="gmOnly litm--roll-approve-button"
			data-click="approve-moderation">{{localize 'Litm.ui.approve'}}</button>
		<button class="gmOnly litm--roll-reject-button"
			data-click="reject-moderation">{{localize 'Litm.ui.reject'}}</button>
		<button class="playerOnly litm--roll-skip-button"
			data-click="skip-moderation">{{localize 'Litm.ui.skip-moderation'}}</button>
	</div>
</div>