{{#*inline 'tag' tag }}
	<li>
		<label class="litm--roll-dialog-tag litm--{{tag.type}}" data-click="toggle-state" for="input-{{tag.id}}"><span
				class="litm--sro">{{localize "Litm.ui.select"}}</span>
			<litm-super-checkbox name="{{tag.id}}" id="input-{{tag.id}}" value="{{tag.state}}" data-type="{{tag.type}}"
				states="{{tag.states}}"></litm-super-checkbox>
			<span>{{tag.name}}{{ifThen tag.value (concat "-" tag.value) ""}}</span>
		</label>
	</li>
{{/inline}}

<form class="{{cssClass}}" autocomplete="off">
	<input type="hidden" name="actorId" value="{{actorId}}">
	<input class="title" type="text" name="title" value="{{title}}" />
	<div class="litm--roll-dialog-type">
		<h3 class="litm--sro">{{concat (localize "Litm.other.roll") " " (localize "Type")}}</h3>
		<div class="litm--roll-dialog-type-choices">{{radioBoxes "type" rollTypes checked=type localize=true}}
		</div>
	</div>
	<div class="litm--roll-dialog-tags-summary">
		<ul>
			<!-- Tags selected on Character Sheet -->
			{{#each characterTags as |tag|}}
				{{> tag tag=tag}}
			{{/each}}
		</ul>
		<hr />
		<ul>
			<!-- Statuses -->
			{{#each statuses as |status|}}
				{{> tag tag=status}}
			{{/each}}
			<!-- Story Tags -->
			{{#each tags as |tag|}}
				{{> tag tag=tag}}
			{{/each}}
		</ul>
		{{#if isGM}}
			<hr />
			<ul>
				<!-- GM Tags -->
				{{#each gmTags as |tag|}}
					{{> tag tag=tag}}
				{{/each}}
			</ul>
		{{/if}}
	</div>
	<div class="litm--tags-summary-total">
		<span>{{localize "Litm.ui.total-power"}}: </span>
		<span data-update="totalPower">{{totalPower}}</span>
	</div>
	<button type="button" data-click="add-tag">{{localize "Litm.other.add"}} {{localize "Litm.other.tags"}}</button>
	<div class="litm--roll-dialog-buttons">
		{{#unless isGM}}
			<label class="litm--roll-dialog-skip-moderation">
				<span>{{localize "Litm.ui.skip-moderation"}}</span>
				<input class="litm--checkbox" type="checkbox" name="shouldRoll" {{checked skipModeration}} />
			</label>
		{{/unless}}
		<button type="submit">{{localize "Litm.ui.roll"}}</button>
	</div>
</form>