<form class="{{cssClass}}" autocomplete="off">
	<h2>{{concat (localize "Litm.tags.story") " " (localize "Litm.other.tags")}}</h2>
	<div class="form-group">
		<label for="story-tags">Tags</label>
		<input type="text" class="form-control" id="story-tags" name="name" placeholder="Tags" value="{{name}}">
	</div>
	<hr>
	<fieldset>

	</fieldset>
	<hr>
	<fieldset>

	</fieldset>
	<hr>
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</form>