<div class="litm--backpack-wrapper item" data-item-id="{{backpack.id}}" data-id="{{backpack.id}}">
	<img width="300px" class="litm--backpack-img" src="systems/litm/assets/media/backpack.webp"
		alt="Soft illustration of a rustic backpack" />
	<img width="250px" class="litm--backpack-bg-frame" src="systems/litm/assets/media/background-frame.webp"
		aria-hidden="true">
	<div class="litm--backpack-bg" data-context="menu">
		<div class="meta">{{localize 'Litm.tags.item-tags'}}</div>
		<div class="title">{{backpack.name}}</div>
		<ul class="taglist">
			{{#each backpack.contents as |tag|}}
				{{> systems/litm/templates/partials/tag.html tag=tag key=@key path=(concat "items." ../backpack.id ".system.contents") embedded=true remove=false}}
			{{/each}}
		</ul>
	</div>
</div>