<form class="{{cssClass}}" autocomplete="off">
	<div class="litm--theme-meta litm--accent-bg">
		<input class="litm--theme-meta-part" type="text" name="system.themebook" value="{{data.system.themebook}}" />
		<input class="litm--theme-meta-part" type="text" name="system.level" value="{{data.system.level}}" />
		<span>THEME</span>
	</div>
	<div class="litm--theme-legend">
		<span>{{localize "Litm.tags.power"}}
			{{localize "Litm.other.tags"}}</span><span>・</span><span>{{localize "Litm.tags.weakness"}}
			{{localize "Litm.other.tag"}}</span>
	</div>
	<div class="litm--theme-title">
		<!-- isActive checkbox -->
		<label class="litm--sro" for="name--isActive" aria-label="{{localize (tagActiveString data.system false)}}"></label>
		<input class="litm--checkbox litm--checkbox-with-bg" type="checkbox" id="name--isActive" name="system.isActive"
			data-tooltip="{{localize (tagActiveString data.system false)}}" {{checked data.system.isActive}}>
		<!-- Name input -->
		<input type="hidden" name="name" id="name" value="{{title}}" required />
		<span role="textbox" contenteditable data-input="name">{{title}}</span>
		<!-- isBurnt checkbox -->
		<label>
			<span class="litm--sro">{{localize (ifThen data.system.isBurnt "Litm.tags.isBurnt" "Litm.tags.burn")}}</span>
			<input class="litm--burn" type="checkbox" name="system.isBurnt"
				data-tooltip="{{localize (ifThen data.system.isBurnt 'Litm.tags.isBurnt' 'Litm.tags.burn')}}"
				{{checked data.system.isBurnt}}>
		</label>
	</div>
	<ul class="litm--tags">
		{{#each data.system.powerTags as |tag|}}
			{{> systems/litm/templates/partials/tag.html tag=tag key=@key path="system.powerTags"}}
		{{/each}}
	</ul>
	{{#with data.system.weakness as |tag|}}
		<div class="litm--weakness">
			<!-- Name -->
			<input class="litm--weakness-part" type="text" name="system.weaknessTags.0.name" value="{{name}}">
			<!-- The way foundry validates data these have to be present else validation fails -->
			<input type="hidden" name="system.weaknessTags.0.type" value="{{type}}">
			<input type="hidden" name="system.weaknessTags.0.id" value="{{id}}">
			<input type="hidden" name="system.weaknessTags.0.isBurnt" value="{{isBurnt}}">
			<input type="hidden" name="system.weaknessTags.0.isActive" value="{{isActive}}">
		</div>
	{{/with}}
	<!-- Add Tag button -->
	<!-- Might Reimplement later -->
	<!-- <button type="button" data-click="add-tag">{{localize "Litm.ui.add-tag"}}</button> -->
	<div class="litm--theme-progression">
		<!-- Experience buttons -->
		<div data-click="increase" data-context="decrease" data-id="system.experience">
			{{#progress-buttons data.system.experience 3}}
				<span class="litm--checkbox litm--checkbox-with-bg {{ifThen @checked 'checked' ''}}"></span>
			{{/progress-buttons}}
			<input type="hidden" id="experience" name="system.experience" value="{{data.system.experience}}" />
			<label for="experience">{{localize "Litm.other.experience"}}</label>
		</div>
		<!-- Decay buttons -->
		<div data-click="increase" data-context="decrease" data-id="system.decay">
			{{#progress-buttons data.system.decay 3}}
				<span class="litm--checkbox litm--checkbox-with-bg {{ifThen @checked 'checked' ''}}"></span>
			{{/progress-buttons}}
			<input type="hidden" id="decay" name="system.decay" value="{{data.system.decay}}" />
			<label for="decay">{{localize "Litm.tags.decay"}}</label>
		</div>
	</div>
	<div class="litm--accent-bg litm--theme-bottom">
		<div class="motivation">
			<label class="litm--sro" for="motivation">{{localize "Litm.other.motivation"}}</label>
			<input type="hidden" name="system.motivation" id="motivation" value="{{data.system.motivation}}" required />
			<span role="textbox" contenteditable data-input="motivation">{{data.system.motivation}}</span>
		</div>
		<div class="note">
			<label class="litm--sro" for="note">{{localize "Notes"}}</label>
			{{editor data.system.note target="system.note" owner=owner button=true editable=true}}
		</div>
	</div>
</form>