{{#*inline 'consequence' consequence key}}
	{{#if @root.isEditing}}
		<span role="textbox" contenteditable data-input="consequence-{{key}}"
			aria-labelledby="consequence-label">{{consequence}}</span><input type="hidden" id="consequence-{{key}}"
			name="system.consequences.{{key}}" value="{{consequence}}" required />
	{{else}}
		<div id="consequence-{{key}}" data-click="toggle-edit" data-context="remove-consequence" data-id="{{key}}">
			{{{consequence}}}
		</div>
	{{/if}}
{{/inline}}

<form class="{{cssClass}}" autocomplete="off">
	<h2 id="threat-label">{{localize "Litm.other.threat"}}</h2>
	<div class="litm--threat-box">> <span role="textbox" aria-labelledby="threat-label" contenteditable
			data-input="threat">{{title}}</span><input type="hidden" name="name" id="threat" value="{{data.name}}" required />
	</div>
	<label class="litm--sro" for="consequence" id="consequence-label">{{localize 'Litm.other.consequence'}}</label>
	<ul class="litm--threat-wrapper">
		{{#each data.system.consequences as |consequence|}}
			<li>
				>> {{> consequence consequence=consequence key=@key}}
			</li>
		{{/each}}
		<button type="button" class="litm--consequence-add"
			data-click="add-consequence">{{localize "Litm.ui.add-consequence"}}</button>
	</ul>
</form>