.app.litm.litm {
	& .litm--sro {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	& :where(.litm--checkbox) {
		-webkit-appearance: none;
		flex: none;
		appearance: none;
		background-color: transparent;
		margin: 0;
		font: inherit;
		color: currentColor;
		height: 0.8em;
		width: 0.8em;
		border: 0.1em solid currentColor;
		border-radius: 0.1em;
		transform: translateY(0.025em);
		display: grid;
		place-content: center;
		rotate: 45deg;
		cursor: pointer;

		&::after {
			content: "";
			width: 0.36em;
			height: 0.36em;
			scale: 0;
			transition: scale 120ms ease-in-out;
			box-shadow: inset 1em 1em currentColor;
		}

		&.checked::after,
		&:checked::after {
			scale: 1;
		}
	}

	& :where(.litm--checkbox-with-bg) {
		background: url('../assets/media/checkbox.svg') no-repeat;
		height: 1.1em;
		width: 1.1em;
		background-size: contain;
		background-position: center;
		border: none;
		rotate: 0deg;
		position: relative;

		&.checked,
		&:checked {
			background-image: url('../assets/media/checkbox-c.svg');
		}

		&::after {
			display: none;
		}

		&:disabled {
			cursor: auto;
		}
	}

	& :where(.litm--burn) {
		-webkit-appearance: none;
		flex: none;
		appearance: none;
		background-color: inherit;
		margin: 0;
		font: inherit;
		color: currentColor;
		height: 1.1em;
		width: 1.1em;
		filter: drop-shadow(0px 0px 2px color-mix(in hsl, var(--litm-color), transparent));
		background: url('../assets/media/burn.svg') no-repeat;
		background-size: contain;
		background-position: center;
		cursor: pointer;

		&.transparent {
			background-image: url('../assets/media/burn-t.svg');
			filter: none;
		}

		&:checked {
			background-image: url('../assets/media/burn-c.svg');
		}
	}

	& .litm--accent-bg {
		background: url("/ui/parchment.jpg") repeat;
		background-color: var(--litm-color-accent-bg);
		background-blend-mode: color-burn;
		color: var(--litm-color-accent);
	}

	& button[data-click="add-tag"] {
		margin-inline: 2rem;
		padding-bottom: var(--litm-space-2);
		width: auto;
		border: none;
		border-radius: 0px;
		border-top: 1.5px solid rgb(0, 0, 0, 0.4);
		background-color: transparent;
		color: var(--litm-color);
		-webkit-font-smoothing: auto;
		font-size: var(--font-size-20);
		font-family: var(--litm-font-accent);
		transition: all 0.15s;

		&:hover {
			box-shadow: none;
			text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
		}
	}
}