.litm--popout {
	&.litm--character {
		width: 250px !important;
		height: 350px !important;
		position: relative;
		left: 270px;
		top: 80px;
	}

	&.litm--challenge {
		width: 320px !important;
		height: 700px !important;
	}

	&.litm--backpack {
		width: 400px !important;
		height: 450px !important;
	}

	&+.litm--roll .window-content form {
		overflow: auto;
	}
}